In [1]:
%load_ext autoreload
%autoreload 2
%autosave 0

from tools import afew
from viz.graph import *

Autosave disabled

In [2]:
data = DataFrame(LINKS)
data.columns = list('ab')
data['c'] = range(len(data))
data

       a      b  c
0   dave   dave  0
1   dave    eve  1
2  alice    bob  2
3    bob  carol  3
4  carol  alice  4

In [3]:
graph = Graph(LINKS)
graph

Graph with 5 links
  source target  weight
0  alice    bob     1.0
1    bob  carol     1.0
2  carol  alice     1.0
3   dave   dave     1.0
4   dave    eve     1.0

In [4]:
list(graph.links)

[Link(source='alice', target='bob', weight=1.0),
 Link(source='bob', target='carol', weight=1.0),
 Link(source='carol', target='alice', weight=1.0),
 Link(source='dave', target='dave', weight=1.0),
 Link(source='dave', target='eve', weight=1.0)]

In [5]:
graph.matrix.toarray()

array([[0., 1., 0., 0., 0.],
       [0., 0., 1., 0., 0.],
       [1., 0., 0., 0., 0.],
       [0., 0., 0., 1., 1.],
       [0., 0., 0., 0., 0.]])

In [6]:
graph.nodes

Index(['alice', 'bob', 'carol', 'dave', 'eve'], dtype='object')